src/main/resources/META-INF/JPAExtension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="snippet">
	    <xs:complexType>
	    	<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="jpql" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="jpqlsnippets">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="snippet" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="filter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="jpaextension">
		<xs:complexType>
			<xs:all>
				<xs:element ref="jpqlsnippets" minOccurs="0"/>
				<xs:element ref="filter" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="value">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="filterClass" minOccurs="0"/>
				<xs:element ref="fetch" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="jpql" type="xs:string" use="optional"/>
			<xs:attribute name="alias" type="xs:string" use="optional"/>
			<xs:attribute name="ext" type="xs:string" use="optional"/>
			<xs:attribute name="orderby" type="xs:string" use="optional"/>
			<xs:attribute name="id" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="annotation" type="xs:string" use="optional"/>
			<!-- the jpql statement (where clause)-->
			<!-- settable alias for type of resultset-->
			<!-- extension for part after "from" -->
			<!-- for order by statement -->
			<!-- filter id -->
		</xs:complexType>
	</xs:element>
	<xs:element name="fetch">
		<xs:complexType>
			<xs:attribute name="property" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="joinType" use="optional" default="inner">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="inner"/>
						<xs:enumeration value="left"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="filterClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="binding" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="static" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="class" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="binding">
		<xs:complexType>
			<xs:attribute name="var" type="xs:NMTOKEN" use="required"/>
			<xs:attribute name="attribute" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="static">
		<xs:complexType>
			<xs:attribute name="statementAttribute" type="xs:NMTOKEN" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
